{% extends 'catalog/base.html' %}
{% block content %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">Вы действительно хотите удалить: "{{ object.name }}"?</p>
                <div class="d-flex gap-2 align-items-end">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-primary">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}